@page "/sentence6/createData"
@using PracticeInternship.Domain.Entities
@using PracticeInternship.Application.DTOs
@using PracticeInternship.Application.DTOs.Conversions
@using PracticeInternship.Application.Responses
@inject PracticeInternship.Application.Interfaces.Interface_DM_Kho_User KhoUserInterface
@inject PracticeInternship.Application.Interfaces.Interface_DM_Kho KhoInterface
@inject NavigationManager NavigationManager
@inject IToastService ToastService

<PageTitle>Tạo mới kho</PageTitle>
<div class="row justify-content-center">
    <div class="col-6">
        <EditForm Enhance="true" FormName="CreateKhoUserForm" OnValidSubmit="CreateKhoUser" Model="dM_Kho_User">
            <h3>Thêm mới</h3>
            <div class="mb-3">
                <label for="name" class="form-label">Mã đăng nhập</label>
                <InputText id="name" @bind-Value="dM_Kho_User.Ma_Dang_Nhap" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="KhoId" class="form-label">Tên kho</label>
                <select id="KhoId" class="form-select" @onchange="e => dM_Kho_User.Kho_Id = int.Parse(e.Value!.ToString()!)">
                    <option value="0">Danh mục kho</option>
                    @if (khos == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        @foreach (var item in khos)
                        {
                            <option value="@item.Id">@item.Ten_Kho</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary shadow-none">Save</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public IEnumerable<DM_Kho>? khos { get; set; }
    protected override async Task OnInitializedAsync()
    {
        khos = await KhoInterface.GetAllAsync();
    }

    [SupplyParameterFromForm]
    private DM_Kho_User dM_Kho_User { get; set; } = new DM_Kho_User();

    private async Task CreateKhoUser()
    {
        try
        {
            var response = await KhoUserInterface.CreateAsync(dM_Kho_User);

            if (response.Flag)
            {
                ToastService.ShowSuccess($"{response.Message}");
                NavigationManager.NavigateTo("/sentence6/reading");
            }
            else
            {
                ToastService.ShowError($"Thêm mới thất bại: {response.Message}");
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Lỗi xảy ra: {ex.Message}");
        }
    }
}
